
html{
    scroll-behavior: smooth;
    background-color: #000000;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 30px;
    display: none;
}
::-webkit-scrollbar-thumb:hover{
    display: block;
}
.row {
    background-color: #000000;
}
body{
    overflow-x: hidden;
    background-color: black;
    width: 100vw;
}

.box1{
    display: grid;
    border: 1px solid black;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-image: url(side.jpeg);
    background-size: 50vw;
    background-position-x: -300px;
    background-position-y: -70px;
    background-repeat: no-repeat;
    padding-top: 2vh;
}
.ani{
    animation-name: maindiv;
    animation-duration: 2s;
}
@keyframes maindiv {
    from {opacity: 0;}
    to {opacity: 1;}
}

.box1 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    font-family:monospace;
}
#hh > h1 {
    font-size: 30px;
    position: relative;
    transition-property: font-size;
    transition-duration: 1s;
    cursor: pointer;
    animation-name: example;
    animation-duration: 2.5s;
}
#hh >h1:hover{
    font-size: 35px;
}
@keyframes example {
    from {
        opacity: 0;
        top: 20px;

    }
    to {
        opacity: 1;
        top: 0px;
    }
}
.box2 {
    color: aliceblue;
    font-family:sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;  
    overflow: auto;
}
#scnd{
    
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: larger;
    font-family: sans-serif;
}
#hello {
    animation-name: inf;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
@keyframes inf {
    0% {color: white;}
    25% {color: blue;}
    50% {color: red;}
    75% {color: white}
    100%{color:yellow}
}
#js {
    color:rgb(204, 230, 38);
    font-size: larger;
    font-family: 'Protest Guerrilla', sans-serif;
}
#js > span{
    font-size: 50px;
}
#img {
    border-width: 3px;
    border-style: dotted solid;
    border-color: rgb(81, 81, 81);
    min-width:250px;
    height: 250px;
    border-radius: 50%;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2 / 3;
    grid-row: 1/2;
    backdrop-filter: blur(10px);
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
    animation-timing-function:ease;
    box-shadow: 1px 1px 20px rgb(117, 117, 117);
}
@keyframes bounce {
    0%{top:0px;}
    50%{top:5px;}
    100%{top:0px;}
}

.nnav {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    height: 100vh;
}
.nnav ul{
    list-style: none;
}
.links{
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 500%;
    font-weight: 400px;
    text-decoration: none;
    color: white;
    transition-duration: 1s;

}
.links:hover {
    color: yellow;
    text-decoration: none;
}
.fst{
    position: relative;
    right: 10%;;
    animation-name: rightleft;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
.fst2{
    position: relative;
    display: flex;
    animation-name: rightleft2;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

}
@keyframes rightleft {
    0%{right:200%;}
    100%{right:10%;}
}
@keyframes rightleft2 {
    0%{right:200%;}
    100%{right:0;}
}
.scnd{
    position: relative;
    left: 10%;
    animation-name: leftright;
    animation-duration: 1s;
}
.scnd2{
    position: relative;
    display: flex;
    animation-name: leftright2;
    animation-duration: 1s;
}
@keyframes leftright {
    0%{left: 200%;}
    100%{left:10%;}
}
@keyframes leftright2 {
    0%{left: 200%;}
    100%{left:0;}
}
#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100vw;
    padding-top: 5%;
    padding-left: 6%;
    list-style: none;
}
@media (max-width:767px) {
    .nnav{
        display: none;
    }
    .mainc{
        flex-direction: column;
        align-items: center;
    }
    .wayy{
        width:60vw;
    }
    

}
@media (min-width:768px) {
    .button{
        display: none;
    }
    .maincontent{
        width: 110vw;
    }
    #skdes{
        display: none;
    }
    
}
@media (max-height:400px) {
    #sidebar{
        flex-direction: row;
        font-size: 7px;
        justify-content: space-around;
    }
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
}
.content > p {
    font-size: large;
    text-align: center;
}
@keyframes scrollreveal {
    from{opacity: 0;}
    to{opacity: 1;
    transform: translateY(0);}
}
.anima {
    animation-name: scrollreveal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 50% cover 40%;
}
#maincontent{
    display: flex; 
    flex-direction: column;
    background-color: black;
    min-width: 100vw;
    align-items: center;
}
.skills{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.exp{
    opacity: 0;
    transition: opacity 1s;
}

#cod:hover .exp{
    opacity: 1;
}
#vid:hover .exp{
    opacity: 1;
}#acc:hover .exp{
    opacity: 1;
}
#cod > svg{
    transition-duration: .5s;
}
#cod:hover svg{
    scale: 120%;
}
#vid > svg{
    transition-duration: .5s;
}
#vid:hover svg{
    scale: 120%;
}
#acc > svg{
    transition-duration: .5s;
}
#acc:hover svg{
    scale: 120%;
}
.cards{
    width: 90vw;
    display: flex;
    justify-content: space-around;
}
.card{
    width:30%;
    background-color: #000000 !important;
}
.card img{
    border-radius: 15px;
    box-shadow: 1px 1px 20px white;
}
.overlay{
    width:93.5%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family:  'Raleway', sans-serif;
    opacity: 0;
    transition-duration: .5s ;
}
.overlay:hover {
    opacity: 1;
    text-decoration: none;
    color: black;
}
#contactcontainer{
    min-width: 400px;
    width: 40vw;
    height: 400px;
    /* border: .5px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* box-shadow: 1px 1px 20px white; */
    border-radius: 5px;
}

input{
    transition-duration: .5s;
    max-width: 40vw;
    min-width: 350px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    background-color: #333232;
}
textarea{
    transition-duration: .5s;
    border-radius: 5px;
    border: 1px solid white;
    max-width: 40vw;
    min-width: 350px;
    color: rgb(255, 255, 255);
    background-color: #333232;
}
input:focus{
    box-shadow: 1px 1px 20px white;
}
textarea:focus{
    box-shadow: 1px 1px 20px white;
}
.buttn{
    display: block;
    max-width: 40vw;
    min-width: 350px;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    transition: .5s;
    color: white;
}
.buttn:hover{
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
}
.buttn:active{
    background-color: yellow;
}
#skdes{
    opacity: .5;
    font-size: small;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 100vw;
    height: 100px;
    border-top: 5px double yellow;
    text-align: center;
    background-color: #333232;
}
#icns{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer > h5 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.icnsdv{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .5s;
}
.icnsdv:hover{
    background: #ffffff;
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
}
.ics{
    transition: .5s;
}
.icnsdv:hover .ics{
    fill: black;
}